.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 20px;
  font-family: sans-serif;
}

.username {
  color: yellow;
}

.header h1 {
  font-size: 20px;
  color: yellow;
}

.user-info-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-info-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-info-bottom {
  background-color: transparent;
}

.logout-icon {
  fill: red;
}

.logout-button {
  all: unset;
  color: yellow;
  text-decoration: underline;
  cursor: pointer;
}

.login-and-signup {
  color: yellow;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
